.skill {
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;

  > p {
    margin: 0;
    font-size: 18px;
  }

  &:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: $light;
    bottom: 0;
  }
}

.skill-bar {
  width: 100%;
  height: 5px;
  background: $primary;
  display: block;
  position: relative;

  span {
    position: absolute;
    border-top: 5px solid inherit;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
    right: 0;
  }
}

.skill-bar.skill-bar-secondary {
  background: $secondary;
}

.skill-bar.skill-bar-success {
  background: $success;
}

.skill-bar.skill-bar-info {
  background: $info;
}

.skill-bar.skill-bar-warning {
  background: $warning;
}

.skill-bar.skill-bar-danger {
  background: $danger;
}

.skill-bar.skill-bar-light {
  background: $light;
}

.skill-bar.skill-bar-dark {
  background: $dark;
}

.skill-bar.skill-bar-slateblue {
  background: $slateblue;
}

.skill-bar.skill-bar-orange {
  background: $orange;
}

.skill-bar.skill-bar-tomato {
  background: $tomato;
}

.skill-bar.skill-bar-gold {
  background: $gold;
}

.skill-bar.skill-bar-seagreen {
  background: $seagreen;
}

.skill-bar.skill-bar-olive {
  background: $olive;
}

.skill-bar.skill-bar-aquamarine {
  background: $aquamarine;
}

.skill-bar.skill-bar-cyan {
  background: $cyan;
}

.skill-bar.skill-bar-mediumblue {
  background: $mediumblue;
}

.skill-bar.skill-bar-rojalblue {
  background: $rojalblue;
}

.skill-bar.skill-bar-cornflower {
  background: $cornflower;
}

.skill-bar.skill-bar-cadetblue {
  background: $cadetblue;
}

.skill-bar.skill-bar-goldenrod {
  background: $goldenrod;
}

.skill-bar.skill-bar-chocolate {
  background: $chocolate;
}

.skill-bar.skill-bar-sandybrown {
  background: $sandybrown;
}

.skill-bar.skill-bar-peru {
  background: $peru;
}

@for $i from 0 through 100 {
  .skill-#{$i} {
    width: percentage($i/100);
    color: #F0F0F0;  		
  }
}
