$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;
$slateblue:  #6a5acd;
$orange:     #ffa500;
$tomato:     #ff6347;
$gold:       #ffd700;
$seagreen:   #3cb371;
$olive:      #6b8e23;
$aquamarine: #99cdaa;
$cyan:       #20b2aa;
$mediumblue: #1111dc;
$rojalblue:  #4169e1;
$cornflower: #6495ed;
$cadetblue:  #5f9ea0;
$goldenrod:  #daa520;
$chocolate:  #d2691e;
$sandybrown: #f4a460;
$peru:       #cd853f;

$rounded-borders: 15px;